.container{
    display: flex;
    flex-direction: column;
    height: 28rem;
    width: 20.5rem;
}

.container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.header .turn_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.25rem 0.25rem #000000;
  height: 2.4rem;
  width: 5.3rem;
  border-radius: 0.5rem;
  background: var(--color-accent-4);
}
.turn_container .game_cross {
    margin-top: 0.35rem;
    scale: 1.1;

}
.turn_container .text {
    font-weight: 600;
    color: #A8BEC9;
}

.container .refresh_btn {
      padding: 0.4rem 0.8rem;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      box-shadow: 0 0.25rem 0.25rem #000000;
      background: #A7BDC8;
      /* visibility: hidden; */
}

.game_container {
    display: flex;
    flex-wrap: wrap;
}

.game_container .game_btn {
    height: 5.2rem;
    width: 5.2rem;
    outline: none;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0 0.25rem 0.25rem #000000;
    background: var(--color-accent-4);
    margin: var(--margin-small) auto;
    
}

.score_container {
    margin-top: var(--margin-small-s);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.score_container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 5.3rem;
    border-radius: 0.6rem;
    font-size: var(--font-small-s);
}

.score_container div:nth-child(1) {
    background: #31C4BE;
}
.score_container div:nth-child(2) {
    background: #A8BEC9;
}

.score_container div:nth-child(3) {
    background: var(--color-accent-2);
}

.score_container div span {
    font-weight: 600;
    color: var(--color-accent-4);
    scale: 1.3;
}