@import 'variables.css';

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  margin: 0 auto;
  height: 100vh;
}

a {
  color: inherit;
}
