.container {
  height: 15rem;
  width: 16rem;
  background: var(--color-accent);
  outline: none;
  border-radius: 1.2rem;
  text-align: center;
  padding: 2rem;
  /* overflow: scroll; */
}

.container h2 {
  color: var(--text-color);
  word-wrap: break-word;
}

.container p {
  color: var(--color-accent-2);
  font-size: var(--font-small);
}
.container span {
  background: var(--text-color);
  padding: 0.6rem var(--margin-small);
  border-radius: 50%;
  display: inline-block;
  margin-top: 0.2rem;
}

.container .advice {
  height: 8rem;
  width: 16rem;
  text-align: center;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  word-break: break-word;
}

@media screen and (max-width: 428px) {
 
  .container {
    height: 11.5rem;
    width: 14rem;
  }
  .container h2 {
    font-size: var(--font-small);
  }
  .container p {
    font-size: var(--font-extra-small);
  }
  .container span {
    padding: 0.6rem var(--margin-small);
  }
  .container .advice {
    height: 6rem;
    width: 14rem;
    font-size: var(--font-extra-small);
  }
    
}
